.levels-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
  top: 0;
  right: -30%;
  bottom: 0;
  z-index: 2;
  background-color: #696060;;
  transition: .5s;

  &__title {
    margin-left: 5px;
  }

  &__button {
    background: darkgray;
    width: 40%;
    margin: 0 auto;
    padding: 7px;
    cursor: pointer;
  }
}

.show {
  right: 0
}