.html-viewer {
  padding: 5px;
  cursor: pointer;
  .class {
    color: #008000;
  }

  .class-name {
    color: #f3b13e
  }

  .id {
    color: #0000ff;
  }

  .id-name {
    color:#860606;
  }
  .hover {
    .class,
    .class-name,
    .id,
    .id-name {
        color: #9b1189;
    }
  }
}