.css-input {
  width: 100%;
  * {
    margin-left: 5px;
  }

  &__wrapper {
    display: flex;
  }

  &__input {
    width: 80%;
    outline: none;
    border: none;
    animation: strobe .7s ease-in infinite;

    &:focus {
      outline: none;
    }
  }

  &__comment {
    margin-top: 2rem;
    padding: 5px;
    color: #808080;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    background-color: #808080;
    cursor: pointer;
  }
}

@keyframes strobe {
  0% {
    background-color: #26b5d17a;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #26b5d17a;
  }
}