vase {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #ec2cdc;
  bottom: 15px;
  height: 48px;
  width: 12%;
  border-radius: 25px;
  cursor: pointer;

  cherry,
  floral,
  sunflower,
  tulips {
    top: -30px;

    @media screen and (max-width: 768px) {
      top: -20px;
    }
  }

  .big {
    top: -45px;

    @media screen and (max-width: 768px) {
      top: -35px;
    }
  }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 83%;
      border-radius: 35px;
      box-shadow: -10px 0 5px #9c27b059;
      bottom: 10%;
      right: 21%;
    }

  &.hover {
    box-shadow: 0 0 25px #210414;
  }

  @media screen and (max-width: 768px) {
    height: 35px;
  }
}
