.header {
  padding: 5px 5px 0;
  display: flex;
  justify-content: space-between;
  
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__logo {
    width: 20px;
    cursor: pointer;

    &:hover {
      animation: animated .5s ease-in infinite;
    }
  }

  &__title {
    font-size: 1.1rem;
  }

  &__help-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    background-color: #808080;
    cursor: pointer;
  }
}