.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto 10px;

  &__wrapper {
    display: flex;
    gap: 10px;
  }

  &__githublink {
    display: block;

    img {
      width: 20px;
    }
  }

  &__logolink {
    display: block;

    &--img {
      height: 20px;
    }
  }
}