.description {
  *{
    padding-bottom: 10px;
  }
  strong {
    font-weight: 400;
  }
  &__title {
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  &__question {
    font-size: 1.1rem;
  }
  &__type,
  strong {
    width: fit-content;
    padding: 3px;
    background-color: #d6ab75;
    box-shadow: 1px 0px 3px #d6ab75;
    border-radius: 2px;
  }

  &__help {
    line-height: 150%;
  }
  &__examples {
    margin-top: 50px;

    &--item {
      padding: 10px;
      line-height: 160%;
    }

    &--item:not(:last-child) {
      border-bottom: #d6ab75 solid 2px;
    }
  }
}