.levels-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  height: 5vh;
  padding: 10px;
  font-size: 1.3rem;

  &__title {
    color: #3c1b1b;
  }
  &__status {
    height: 1rem;
    filter: opacity(.1);
    &.help {
      filter: opacity(.5);
    }
    &.check {
      filter: opacity(1);
    }
  }

  &.current {
    background-color: rgb(87, 76, 76);
  }
}