windowsill {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 0 auto;
  width: 90%;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 80px solid #bae5fa;
  height: 0;
  font-size: 1.5rem;

    &::after {
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 80px;
    height: 18px;
    width: calc(100% + 80px);;
    background-color: #95d3f1;
  }
}

@media screen and (max-width: 768px) {
  windowsill {
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 60px solid #bae5fa;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -30px;
      top: 60px;
      height: 10px;
      width: calc(100% + 60px);;
      background-color: #95d3f1;
    }
  }
}