.nav {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__button {
    display: flex;
    height: 1.7rem;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: unset;
    cursor: pointer;

    @media screen and (max-width: 1280px) {
      font-size: 1.4rem;
    }
  }

  &__title {
    font-size: 1.7rem;

    @media screen and (max-width: 1280px) {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__status {
    height: 1.7rem;
    filter: opacity(.1);
    &.help {
      filter: opacity(.5);
    }

    &.check {
      filter: opacity(1);
    }
    @media screen and (max-width: 1280px) {
      height: 1.4rem;
    }
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.burger {
  display: flex;
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  z-index: 5;
  cursor: pointer;
  transition: 0.5s;
  justify-content: center;
  flex-direction: column;

  &__line {
    border-top: 2px solid rgb(63, 52, 52);
    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &:nth-child(1) {
      transform-origin: 0% 0%;
    }

    &:nth-child(3) {
      transform-origin: 0% 100%;
    }

    @media screen and (max-width: 1280px) {
      font-size: 1.4rem;
    }

  }

  &.show  {
    .burger__line:nth-child(1) {
      transform: rotate(45deg);
    }
    .burger__line:nth-child(2) {
      visibility: hidden;
    }
    .burger__line:nth-child(3) {
      transform: rotate(-45deg)
    }
  }
}